<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="CloudAutomation.Cyfuture.UpdateProfileTest"/>
      <class name="CloudAutomation.Cyfuture.LaunchCloud"/>
      <class name="CloudAutomation.Cyfuture.MyCloudServers"/>
      <class name="CloudAutomation.Cyfuture.VerifyLogin"/>
      <class name="CloudAutomation.Cyfuture.ForgotpasswordTest"/>
      <class name="CloudAutomation.Cyfuture.Pay"/>
      <class name="CloudAutomation.Cyfuture.HomePageTest"/>
      <class name="CloudAutomation.Cyfuture.Updateprofile"/>
      <class name="CloudAutomation.Cyfuture.VerifyRegister"/>
      <class name="CloudAutomation.Cyfuture.PayButton"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
